@model List<WebApplication1.Context.Category>

@{
    ViewBag.Title = "Catagory";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                   
                    <div class="card card-category">
                        <div class="none object">
                            <div class="img-wrap" style="background:#d4cccc">
                                <img src="~/Content/images/Category/@item.Avatar">
                                style="width:128px;height:128px;">
                            </div>


                            <div class="card-body">
                                <h2 class="card-title"><a href="@Url.Action("ProductCatagory", "Catagory", new { Id = item.id }, null)">@item.Name</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
    <!-- col.// -->
            }


        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Cung cấp những thông tin và tin tức mới nhất của cửa hàng nhằm đáp ứng nhu cầu và xu hướng của khách hàng tìm kiếm</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Gmail" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đặt mua </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">Chúng tôi sẽ luôn giữ bí mật thông tin khách hàng an toàn </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
