
@{
    ViewBag.Title = "Pland";
}

<section class="section-content padding-y">
    <div class="container">
    <a href="https://localhost:44304/Pland/Pland"></a>
        <header class="section-heading">
            <h2 class="section-title">Giới thiệu </h2>
        </header><!-- sect-heading -->

        <article>


            <p>
                Khi cuộc sống ngày càng bộn bề, áp lực, con người lại có xu hướng chăm nuôi những em thú cưng xinh xắn để bầu bạn, tâm tình. 
                Cũng như chúng ta, những người bạn 4 chân cần có một cuộc sống đầy đủ tiện nghi, hiện đại và quan trọng là một sức khỏe tốt.
                Tuy nhiên, việc lựa chọn được địa điểm mua các món đồ dùng cho cho chó mèo như thức ăn, quần áo,… có giá thành hợp lý và uy tín lại không phải là điều dễ dàng. 
                Để đáp ứng nhu cầu này, Pet Master ra đời với sứ mệnh cung cấp những sản phẩm tốt nhất cho thú cưng nhà bạn.


            </p>
           
            <p>
                Ngày nay, việc nuôi một chú chó hay mèo trong nhà là cách giúp không khí gia đình trở nên ấm áp, vui nhộn hơn.
                Chính vì thế việc chăm nuôi chó mèo để chúng phát triển toàn diện là điều ai cũng mong muốn.
                Song, trên thị trường hiện nay có quá nhiều địa chỉ bán thức ăn, các sản phẩm bổ trợ sức khỏe, đồ chơi, phụ kiện…
                cho thú cưng, tuy nhiên nơi đâu uy tín, chất lượng và giá cả hợp lý thì không phải ai cũng biết.
            </p>
         

            <br><br><br><br><br><br><br><br><br>

        </article>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
