
@{
    ViewBag.Title = "Controler";
}


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        
            <h5 class="card-title">Chăm sóc thú cưng</h5>
            <p>
                Việc dạy bé yêu thương vật nuôi giúp trẻ hình thành lòng nhân ái, phát triển tính cách theo chiều hướng
                tích cực và song song đó còn mang lại niềm hạnh phúc to lớn cho con vật khi chúng được đối xử như một thành viên trong gia đình.
            </p>
            <p>
                Chúng tôi yêu tất cả các loài động vật lớn và nhỏ,
                và chúng tôi nghĩ rằng tất cả những người bạn có lông, không có lông và có vảy của chúng ta đều xứng đáng nhận được những điều tốt nhất!
                Sứ mệnh của chúng tôi tại Pet Library là làm cho cuộc sống của bạn và thú cưng của bạn trở nên dễ dàng và thú vị hơn.
                Tôi nhận ra rằng mỗi khi tôi mất một chú chó, nó mang đi theo một mảnh tim tôi, và mỗi chú chó mới đến với tôi lại tặng tôi một mảnh tim mình.
                Nếu tôi sống đủ lâu, tất cả tim tôi sẽ trở thành chúng, và tôi sẽ trở nên hào phóng và đầy yêu thương như chúng.
            </p>
            <div class="row mt-5">
                <div class="col-md-4">
                    <h5 class="card-title">Thức ăn</h5>
                    <p>
                        Thức ăn hạt khô cho chó là sản phẩm rất phổ biến và đa dạng.
                        Do đó, để chủ nuôi thú cưng chọn ra loại thức ăn hạt khô phù hợp cho cún cưng của mình là điều không hề dễ dàng.
                        Bài viết sau đây của Pety sẽ giúp bạn đưa ra những đánh giá khách quan về sản phẩm
                        Thức ăn hạt cho chó Taste Of The Wild High Prairie thông qua những phân tích của chuyên gia.
                    </p>

                </div> <!-- col.// -->
                <div class="col-md-4">
                    <p>
                        Thú cưng giúp chúng ta cân bằng cảm xúc. Khoa học đã chứng minh các loài vật nuôi (đặc biệt là chó) thường khá nhạy cảm với cảm xúc.
                        Vì vậy rất dễ dàng để chúng có thể phát hiện ra những cảm xúc tiêu cực như buồn, giận,... của con người.
                        Những lúc ấy, thú cưng sẽ thay thế một người bạn tri âm, tri kỉ.
                        Có những vấn đề mà con người khó có thể nói cho một người nào đó vì nhiều lí do cá nhân.
                        Có một con vật lắng nghe, không phán xét những suy nghĩ, hành động của bạn là một cách để bạn giải tỏa căng thẳng và những nỗi buồn.
                    </p>
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <p>
                        Nuôi một con thú nuôi là một điều tốt đẹp mà bạn có thể trải nghiệm trong cuộc đời.
                        Tuy nhiên đừng biến chúng thành gánh nặng cho chính bản thân mình.
                        Hãy cân nhắc kĩ lưỡng trước khi quyết định nuôi một con vật nào đó.
                    </p>
                </div> <!-- col.// -->
            </div> <!-- row.// -->

            <br><br>

            <a href="javascript: history.back()" class="btn btn-light"> &laquo Quay lại</a>



        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-y-lg text-white">
                <div class="row">
                    <aside class="col-md col-6">
                        <h6 class="title">Thương hiệu</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Mèo lông dài</a></li>
                            <li> <a href="#">Mèo lông ngắn</a></li>
                            <li> <a href="#">Mèo Munchkin</a></li>
                            <li> <a href="#">Chó Alaska</a></li>
                            <li> <a href="#">Chó Samoyed</a></li>
                            <li> <a href="#">Chó Corgi</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Công ty</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Về chúng tôi</a></li>
                            <li> <a href="#">Nghề nghiệp</a></li>
                            <li> <a href="#">Tìm cửa hàng</a></li>
                            <li> <a href="#">Quy tắc và điều khoản</a></li>
                            <li> <a href="#">Sơ đồ</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Hỗ trợ</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Liên hệ với chúng tôi</a></li>
                            <li> <a href="#">Hoàn cảnh</a></li>
                            <li> <a href="#">Trạng thái đơn hàng</a></li>
                            <li> <a href="#">Thông tin vận chuyển</a></li>
                            <li> <a href="#">Mở cửa</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Tài khoản</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Đăng nhập người dùng </a></li>
                            <li> <a href="#"> Đăng ký người dùng </a></li>
                            <li> <a href="#"> Cài đặt tài khoản</a></li>
                            <li> <a href="#"> Đơn hàng của tôi </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Xã hội</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->

            <section class="footer-bottom text-center">

                <p class="text-white">Chính sách bảo mật - Điều khoản sử dụng - Hướng dẫn điều tra pháp lý thông tin người dùng</p>
                <p class="text-muted"> &copy 2019 Tên công ty, Mọi quyền được bảo lưu </p>
                <br>
            </section>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->

