@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  Du emm<br />
   Trường Cao Đẳng Công Thương TP.HCM<br />
    <abbr title="Phone">Điện thoại:</abbr>
  08927495904
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="duem0107@gmail.com">duem0107@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="duem0107@gmail.com">duem0107@gmail.com</a>
</address>